body { 
        background-color: rgb(162, 157, 157);
        margin: 0 auto;
}
 }
 main {
    width: 150%;
 }
div {
    background-color: rgb(162, 157, 157);
}
div img { 
    border-radius: 50%;
    border: solid 20px rgb(20, 18, 18);
    width:100px;
    margin-left: 40px; 
    position: relative;
    left: 30px;
    top: 35px;
    width: 250px;
    
}


